In [2]:
import sqlite3
from sqlite3 import Error
import pandas as pd
import numpy as np
from IPython.display import clear_output
from datetime import datetime, timedelta
import json
import time
import sys

DATETIME_FORMAT = '%Y-%m-%d %H:%M:%S.%f'

def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)

    return conn

### Get book snapshots

In [3]:
conn = create_connection('market_data.sqlite')
cur = conn.cursor()
#Â columns selected orderbook_snapshot_id, external_time,base,counter,provider,bids,asks
cur.execute(f"""

SELECT 
*
FROM orderbook_snapshots s
where true
and external_time > current_date

-- and base = 'AUDIO'

order by external_time desc

                """)
orderbook_snapshots_list = cur.fetchall()
orderbook_snapshots_names = list(map(lambda x: x[0], cur.description))
orderbook_snapshots_df = pd.DataFrame(orderbook_snapshots_list,columns=orderbook_snapshots_names)
orderbook_snapshots_df

,id,created_at,received_at,external_time,base,counter,provider,levels,bids,asks
0,2,2023-12-27 14:21:15.888375,2023-12-27 14:21:15.715578,2023-12-27 14:21:15.429390,BTC,USD,kraken,-1,"[[""43064.20000"", ""0.13387770""], [""43063.20000""...","[[""43064.30000"", ""1.85579135""], [""43064.90000""..."
1,1,2023-12-27 14:21:15.718099,2023-12-27 14:21:15.709828,2023-12-27 14:21:13.773335,GAL,USD,kraken,-1,"[[""2.33410000"", ""73.26276470""], [""2.33390000"",...","[[""2.34300000"", ""786.57577347""], [""2.34320000""..."

In [4]:
conn = create_connection('market_data.sqlite')
cur = conn.cursor()
#Â columns selected orderbook_snapshot_id, external_time,base,counter,provider,bids,asks
cur.execute(f"""

SELECT 
*
FROM orderbook_updates s
where true
-- and external_time between '2023-12-14 13:39:01.337' and '2023-12-14 13:39:58.784'

-- and base = 'FLR'

order by external_time desc

                """)
orderbook_updates_list = cur.fetchall()
orderbook_updates_names = list(map(lambda x: x[0], cur.description))
orderbook_updates_df = pd.DataFrame(orderbook_updates_list,columns=orderbook_updates_names)
orderbook_updates_df

,id,orderbook_snapshot_id,created_at,received_at,external_time,base,counter,provider,bids_changes,asks_changes
0,180703,None,2023-12-27 15:44:20.083462,2023-12-27 15:44:20.083043,2023-12-27 15:44:20.044267,BTC,USD,kraken,"[[""43046.30000"", ""0.00000000""], [""43042.40000""...",[]
1,180702,None,2023-12-27 15:44:20.083461,2023-12-27 15:44:20.039691,2023-12-27 15:44:20.008974,BTC,USD,kraken,[],"[[""43047.00000"", ""3.22059802""]]"
2,180701,None,2023-12-27 15:44:20.083461,2023-12-27 15:44:19.961048,2023-12-27 15:44:19.935599,BTC,USD,kraken,[],"[[""43048.10000"", ""0.00000000""], [""43060.20000""..."
3,180700,None,2023-12-27 15:44:20.083461,2023-12-27 15:44:19.818350,2023-12-27 15:44:19.783176,BTC,USD,kraken,[],"[[""43057.90000"", ""0.02020084""]]"
4,180699,None,2023-12-27 15:44:20.083461,2023-12-27 15:44:19.816943,2023-12-27 15:44:19.757861,BTC,USD,kraken,[],"[[""43060.10000"", ""0.00000000""], [""43060.20000""..."
...,...,...,...,...,...,...,...,...,...,...
180698,5,None,2023-12-27 14:21:16.920086,2023-12-27 14:21:15.959982,2023-12-27 14:21:15.908883,BTC,USD,kraken,[],"[[""43069.10000"", ""1.33772963""], [""43064.90000""..."
180699,4,None,2023-12-27 14:21:16.920086,2023-12-27 14:21:15.911326,2023-12-27 14:21:15.860133,BTC,USD,kraken,"[[""43064.20000"", ""0.94387770""]]",[]
180700,3,None,2023-12-27 14:21:16.920085,2023-12-27 14:21:15.911244,2023-12-27 14:21:15.859891,BTC,USD,kraken,"[[""43064.20000"", ""0.48387770""]]",[]
180701,2,None,2023-12-27 14:21:16.920082,2023-12-27 14:21:15.909809,2023-12-27 14:21:15.858592,BTC,USD,kraken,"[[""43057.70000"", ""1.11240000""]]",[]
180702,1,None,2023-12-27 14:21:15.889653,2023-12-27 14:21:15.887814,2023-12-27 14:21:15.835176,BTC,USD,kraken,[],"[[""43064.30000"", ""1.39579135""]]"

In [12]:
orderbook_updates_df.to_csv('')

In [22]:
orderbook_snapshots_df.to_csv('book_snapshots.csv',index=False)

,id,created_at,received_at,external_time,base,counter,provider,levels,bids,asks
0,41945,2023-12-11 10:56:47.027097,2023-12-11 10:56:47.020204,2023-12-11 10:56:44.403193,FLR,USD,coinbase,-1,"[[""0.01719"", ""15341""], [""0.01718"", ""141044""], ...","[[""0.01721"", ""18127""], [""0.01722"", ""100055""], ..."
1,41944,2023-12-11 10:56:17.718345,2023-12-11 10:56:17.632206,2023-12-11 10:56:16.887079,FLR,USD,coinbase,-1,"[[""0.01719"", ""18142""], [""0.01718"", ""142834""], ...","[[""0.01721"", ""800""], [""0.01722"", ""114580""], [""..."
2,41943,2023-12-11 10:55:35.213429,2023-12-11 10:55:35.205157,2023-12-11 10:55:34.700228,FLR,USD,coinbase,-1,"[[""0.01719"", ""18142""], [""0.01718"", ""142834""], ...","[[""0.01721"", ""15326""], [""0.01722"", ""99325""], [..."
3,41942,2023-12-11 10:48:05.581059,2023-12-11 10:48:05.572659,2023-12-11 10:48:05.490923,FLR,USD,coinbase,-1,"[[""0.01717"", ""3600""], [""0.01716"", ""108412""], [...","[[""0.01719"", ""16348""], [""0.01720"", ""108881""], ..."